body {
  scroll-behavior: smooth;
  background-color: #111;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #000000, #2c2c2c);
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
